<!DOCTYPE HTML>
<html ng-app='myApp'>
<head> 
    <meta charset="UTF-8">
    <title>TODO: Title goes here</title>
    <meta name="description" content="TODO: description goes here ">
    <link rel="stylesheet" type="text/css" href="AmandaTemplate.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript">
        var myAppModule = angular.module('myApp', []);
        
        // the .controller() method adds a controller to the module
        myAppModule.controller('pupilsController', function ($scope){
          $scope.pupils = [
            {name: 'Mike', age: 34}, 
            {name: 'John', age: 24}, 
            {name: 'Trey', age: 24}, 
            {name: 'India', age: 35}
          ];
            //adding to the list
            $scope.addPupils = function(){
              $scope.pupils.push($scope.newPupils);
              $scope.newPupils = {};
            };

        });

    </script>
</head>
<body>  
    <div class="container">
        <div class="header">
            <h1><span>(Angular) </span> Platform Sample</h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <p>Assigment description:</p> 
                <p>The platform sowing parts of sample code and I want to use them</p>
                <p>Rule one module per one app</p>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <h1>Angular sample</h1>
            <p>Remeber to put ng-app='' inside the html pr body tag !!!!</p>
            <h3>The $scope object is the glue between the controller and the view.</h3>
            <hr>
            <p>Angular template is the code the dev sees the view is what the customer see</p>
            <h3>{{ 49567 * 2243 }} - just using double {}</h3>
            <p>Using ng-bind in the line below I was not able to put this info inside the h3 tags</p>
            <h3 ng-bind='49567 * 2243'></h3>
            <hr>
            <div class="lists" ng-init="students=['Amanda', 'Ben', 'Alan', 'Anya', 'Vu', 'Devon', 'Brendon', 'Michael']">
                <h4>This list is using ng-init and ng-repeat using a simple array</h4>
                <ul>
                    <li ng-repeat="name in students">{{name}}</li>
                </ul>
            </div>
            <hr>
            <div class="lists" ng-init="friends=[{name: 'Mike', age: 34}, {name:'Brianna', age: 6 },
             {name:'Bagheera', age: 6}]">
                <h4>This list using json object inside the array</h4>
                <ul> 
                    <li ng-repeat="x in friends">{{x.name}} - {{x.age}}</li>
                </ul>
            </div>
            <hr>
            <div class="lists" ng-controller='pupilsController'>
                <h4>This list uses $scope and ng-controller</h4>
                <ul>
                    <li ng-repeat="pupil in pupils">{{pupil.name}} : {{pupil.age}}</li>
                </ul>
                <h3>Add a new student!</h3>
                <form>
                    Name: <input type='text' ng-model='newPupils.name'>
                    Age: <input type='text' ng-model='newPupils.age'>
                    <input type='submit' value='add new pupils' ng-click='addPupils()'>
                </form>
            </div>
            <hr>
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmial.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
