<!DOCTYPE HTML>
<html ng-app='myApp'>
<head> 
    <meta charset="UTF-8">
	<title>TODO: Title goes here</title>
	<meta name="description" content="TODO: description goes here ">
	<link rel="stylesheet" type="text/css" href="AmandaTemplate.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
    <script type="text/javascript">
       var myAppModule = angular.module('myApp', []);

         myAppModule.controller('studentsController', function (){
          this.students = [
              {name: 'Mike', age: 34}, 
              {name: 'John', age: 24}, 
              {name: 'Trey', age: 24}, 
              {name: 'India', age: 35}
          ];
          this.addStudent = function(){
          this.students.push(this.newStudent);
          this.newStudent = {};
       }
      });
    </script>

</head>

<body>	
    <div class="container">
        <div class="header">
            <h1><span>(Angular) </span> Controller demo this.</h1>
            <h3>Assigment X - mandatory/optional</h3>
            <div class="descr">
                <p>Assigment description:</p>
                <p>using this.</p>
                <ul>
                    <li>listOne</li>
                </ul>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
           <div ng-controller='studentsController as banana'>
                <ul>
                    <li ng-repeat="student in banana.students">{{ student.name }}, {{ student.age }}</li>
                </ul>
                <form>
                   Name: <input type='text' ng-model='banana.newStudent.name'>
                   Age: <input type='text' ng-model='banana.newStudent.age'>
                   <input type='submit' value='add new student' ng-click='banana.addStudent()'>
                </form>
            </div>

        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmial.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LikedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
